//- dashboard.jade
extends ../partials/_layout.jade

block content
  .row
    .col-xs-6
      .panel.panel-primary
        .panel-heading: h2.panel-title Panel Primary
        .panel-body
          
    .col-xs-6  
      .panel.panel-accent
        .panel-heading: h2.panel-title Panel Accent
        .panel-body
