@mixin navbar($primary, $secondary, $primaryText, $secondaryText) {
  background-color: $primary;
  color: $primaryText;

  .navbar-header {
    background-color: $secondary;
    color: $secondaryText;
  }
}

@mixin sidebar() {

}

.navbar-indigo-pink { @include navbar(material-color('indigo','500'),material-color('pink','500'),#ffffff,#ffffff); }
.navbar-pink-indigo { @include navbar(material-color('pink','500'),material-color('indigo','500'),#ffffff,#ffffff); }
.navbar-indigo { @include navbar(material-color('indigo','500'),material-color('indigo','500'),#ffffff,#ffffff); }
.navbar-blue { @include navbar(material-color('blue','500'),material-color('blue','500'),#ffffff,#ffffff); }
