@mixin color-variant($primary, $accent, $primaryText, $accentText) {
  .emde-navbar {
    background-color: $primary;
    color: $primaryText;

    .navbar-header {
      background-color: $accent;
      color: $accentText;
    }
  }

  .emde-sidebar {
    li {
      a i:first-child {
        color: $accent;
      }
      &.active a i:first-child {
        color: $primary;
      }
    }
  }

  .input {
    .form-control {
      &:active, &:focus {
        border-color: $accent;
      }
    }

    &.emde {
      &:after {
        background-color: $accent;
      }
      &.active, input:focus + {
        label {
          color: $accent;
        }
      }
    }
  }

  .panel {
    &.panel-primary {
      @include panel-variant($primary, $primaryText);
    }
    &.panel-accent {
      @include panel-variant($accent, $accentText);
    }
  }
}

.emde-indigo-pink { @include color-variant(material-color('indigo','500'),material-color('pink','500'),#ffffff,#ffffff); }
.emde-pink-indigo { @include color-variant(material-color('pink','500'),material-color('indigo','500'),#ffffff,#ffffff); }
.emde-indigo-amber { @include color-variant(material-color('indigo','500'),material-color('amber','600'),#ffffff,#ffffff); }
.emde-amber-indigo { @include color-variant(material-color('amber','600'),material-color('indigo','500'),#ffffff,#ffffff); }
.emde-grey-red { @include color-variant(material-color('blue-grey','600'),material-color('red','600'),#ffffff,#ffffff); }
.emde-red-grey { @include color-variant(material-color('red','600'),material-color('blue-grey','600'),#ffffff,#ffffff); }
