.input {
  .form-control {
    box-shadow: none !important;
    border-color: #ddd;
    border-radius: 0;
    padding: 9px 12px 7px;
    height: auto;

    &[disabled] {
      border-color: #e6e6e6 !important;
      background-color: #f6f6f6;
      color: #999;
    }
  }

  &.emde {
    position: relative;
    padding: 10px 0 0;

    &:after {
      content: '';
      height: 2px;
      z-index: 2;
      background-color: transparent;
      width: 0;
      left: 50%;
      display: block;
      position: absolute;
      bottom: 0;
      @include transition(all 0.28s cubic-bezier(0.4, 0, 0.2, 1));
    }
    &.active {
      &:after {
        left: 0;
        width: 100%;
      }
    }

    label {
      position: absolute;
      z-index: 1;
      font-weight: normal;
      top: 19px;
      margin: 0;
      left: 0;
      color: #888;

      @include transition(all 0.28s cubic-bezier(0.4, 0, 0.2, 1));

      &.active {
        font-size: 11px;
        top: -1px;
      }
    }
    .form-control {
      position: relative;
      z-index: 2;
      background-color: transparent;
      border-width: 0 0 1px 0;
      padding: 9px 0 7px;

      @include placeholder(#ccc);
      &:active, &:focus {
        border-bottom-width: 1.5px;
      }
      &[disabled] {
        color: #999;
      }
    }

    &.disabled, .form-control[disabled] + {
      label {
        color: #aaa !important;
      }
    }
  }
}
/***************
  Select Field
***************/
.select-label {
  position: absolute;
}

.select-wrapper {
  position: relative;

  input.select-dropdown {
    position: relative;
    cursor: pointer;
    // color: #444;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    display: block;
  }

  span.caret {
    color: initial;
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 10px;
    &.disabled {
      color: #eee;
    }
  }

  & + label {
    position: absolute;
    top: -14px;
    font-size: 16px;
  }
}

select { display: none; }
select.browser-default { display: block; }

// Disabled styles
select:disabled {
  color: rgba(0,0,0,.3);
}

.select-wrapper input.select-dropdown:disabled {
  color: rgba(0,0,0,.3);
  cursor: default;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -ms-user-select: none; /* IE10+ */
  border-bottom: 1px solid rgba(0,0,0,.3);
}

.select-wrapper i {
  color: rgba(0,0,0,.3);
}

.select-dropdown li.disabled,
.select-dropdown li.disabled > span,
.select-dropdown li.optgroup {
  color: rgba(0,0,0,.3);
  background-color: transparent;
}

// Icons
.select-dropdown li {
  img {
    height: 50px - 10;
    width: 50px - 10;
    margin: 5px 15px;
    float: right;
  }
}

// Optgroup styles
.select-dropdown li.optgroup {
  border-top: 1px solid #eee;

  &.selected > span {
    color: rgba(0, 0, 0, .7);
  }

  & > span {
    color: rgba(0, 0, 0, .4);
  }

  & ~ li:not(.optgroup) {
    padding-left: 1rem;
  }
}
