.emde-navbar {
  position: relative;
  z-index: 30;
  border-radius: 0;
  border: 0;
  margin: 0;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);

  .navbar-header {
    width: 250px;
  }
  .navbar-brand {
    width: 100%;
    text-align: center;
  }

  .navbar-content {
    padding-left: 250px;
  }


  .searchbar {
    position: relative;
    padding: 5px;
    input {
      border: 0;
      border-radius: 2px;
      height: 40px;
      padding: 0 15px 0 40px;
      width: 300px;
      color: #000;
    }
    &:before {
      font-family: $mdi-font-name;
      content: mdi('magnify');
      font-size: 24px;
      position: absolute;
      color: #ccc;
      top: 5px;
      left: 5px;
      line-height: 40px;
      width: 40px;
      text-align: center;
    }
  }
}
