@mixin panel-variant($bg-color, $text-color) {
  .panel-heading {
    background-color: $bg-color;
  }
  .panel-title {
    color: $text-color;
  }
}

.panel {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);

  &, .panel-heading {
    border-radius: 0;
    border: 0;
  }

  .panel-heading {
    padding: 17px 15px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.15);
  }
  .panel-title {
    font-size: 18px;
  }

  .panel-body:empty {
    padding: 0;
  }

  &.panel-success {
    @include panel-variant(material-color('green','500'),#fff);
  }
  &.panel-info {
    @include panel-variant(material-color('blue','500'),#fff);
  }
  &.panel-warning {
    @include panel-variant(material-color('orange','500'),#fff);
  }
  &.panel-danger {
    @include panel-variant(material-color('red','500'),#fff);
  }
  &.panel-default {
    @include panel-variant(material-color('grey','200'),material-color('blue-grey','700'));
  }
  &.panel-inverse {
    @include panel-variant(material-color('blue-grey','800'),#fff);
  }
}
