aside {
  background-color: #fff;
  width: 250px;
  position: fixed;
  z-index: 20;
  top: 50px;
  left: 0;
  bottom: 0;
  box-shadow: 1px 0 5px rgba(0,0,0,0.2);

  a {
    color: #444;
    &:hover {
      color: #333;
    }
  }
  .sidebar-account {
    border-bottom: 1px solid #eee;
    a {
      display: block;
      padding: 10px 15px;
    }
    .avatar {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 15px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .content {
      .username {
        font-size: 16px;
      }
      .email {
        font-size: 12px;
      }
    }
  }

  #sidebar-menu {
    ul, li, a {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
      border: 0;
    }
    a {
      padding: 15px;
      font-weight: bold;
      z-index: 1;
      i,span {
        display: inline-block;
      }
      span {
        vertical-align: middle;
      }
      i {
        font-size: 20px;
        &:first-child {
          margin-right: 15px;
          vertical-align: top;
        }
      }

      &:hover {
        background-color: #f6f6f6;
      }
    }
    ul ul a {
      padding: 8px 35px 8px 50px;
      font-weight: normal;
    }

    li {
      > a {

      }
      > ul {
        display: none;
      }
      &.active {
        > a {
          > i:last-child {
            @include rotate(180deg);
          }
        }
      }
    }
  }
}
