//- layout.jade
doctype html
html(lang=en)
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="/plugins/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/plugins/mdi/css/materialdesignicons.min.css")
    link(rel="stylesheet", href="/plugins/Waves/dist/waves.min.css")
    link(rel="stylesheet", href="/css/emde.css")
    block page_css
  body.emde-indigo-amber
    #wrapper
      include _header.jade
      include _sidebar.jade
      #content
        block content
        
      script(src="/plugins/jquery/dist/jquery.min.js")
      script(src="/plugins/jquery-easing/jquery.easing.min.js")
      script(src="/plugins/bootstrap/dist/js/bootstrap.min.js")
      script(src="/plugins/Waves/dist/waves.min.js")
      script(src="/js/emde.js")
      script(src="/js/app.js")
