//- _sidebar.jade
aside
  .sidebar-account
    a(href="#")
      .avatar.pull-left
        img
      .content
        .username Bootstrap Hunter
        .email bootstrap@hunter.com
        
  #sidebar-menu
    ul
      each first in sidebar
        li
          a(href=first.href)= first.title
            if first.childrens
              i.mdi.mdi-menu-down
          if first.childrens
            ul
              each second in first.childrens
                li
                  a(href=second.href)= second.title
