//- _sidebar.jade
aside.emde-sidebar
  .sidebar-account
    a(href="#")
      .avatar.pull-left
        img(src="/img/avatar1.jpg")
      .content
        .username Bootstrap Hunter
        .email bootstrap@hunter.com
        
  #sidebar-menu
    ul
      each first in sidebar
        li
          a(href=first.href)
            if first.icon
              i(class=first.icon)
            span= first.title
            if first.childrens
              i.mdi.mdi-menu-down.pull-right
          if first.childrens
            ul
              each second in first.childrens
                li
                  a(href=second.href)= second.title
